registry=https://registry.npmjs.org
package-manager=pnpm
network-timeout=600000
fetch-retries=5
fetch-retry-factor=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
auto-install-peers=true
strict-peer-dependencies=false
shell-emulator=true
force-auth={}
registry-url=https://registry.npmjs.org
pnpm-registry=https://registry.npmjs.org
